body {
    font-size: 1em;
}

table.form tr:nth-child(2n) td {
    background-color: white;
}

table.form tr td {
    vertical-align: top;
}

table.form tr {
    text-align: right;
}

.label {
    
}

a.active, button.active {
  background-color:#336699;
  color: white;
}

a.label {
    margin-top: 0px;
}
