<form action="#" method="post" {{ form_enctype(form) }}>
    <table class="form">
    {{ form_rest(form) }}
    </table>
    <button type="submit" class="positive">{% trans %}Save{% endtrans %}</button>
    <a href="{{ path("route_view", {'route_id': route.getId()}) }}" class="button negative">{% trans %}Cancel{% endtrans %}</a>
</form>
