{% extends "DTLTrainerBundle::layout.html.twig" %}
{% block page_title %}{% trans %}Routes{% endtrans %}{% endblock %}
{% block navigation2 %}            
    <a class="button" href="{{ path('routes') }}">Index</a>
    <a class="button" href="{{ path('route_new') }}">New</a>
{% endblock %}
{% block page_content %}
{% endblock %}
