{% extends "DTLTrainerBundle:Route:layout.html.twig" %}
{% block navigation2 %}
    {{ parent() }}
    {% if route.getId %}
        <a class="button" href="{{ path('route_view', {'route_id': route.getId}) }}">View</a>
    {% endif %}
{% endblock %}
{% block page_content %}
    <h3>New Session</h3>
    {% include "DTLTrainerBundle:Route:_formNewSession.html.twig" %}
{% endblock %}
